<ion-tabs>
  <ion-tab tab="home">
    <ion-router-outlet *ngIf="tab==='home'"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="about">
    <ion-router-outlet *ngIf="tab==='about'"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="mytv">
    <ion-router-outlet *ngIf="tab==='mytv'"></ion-router-outlet>
  </ion-tab>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" (click)="onClick('home')" routerLink="/tabs/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>首页</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="mytv" (click)="onClick('mytv')" routerLink="/tabs/mytv">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>我的</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="about" (click)="onClick('about')" routerLink="/tabs/about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>关于</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>