<!-- <TabBar [barTintColor]="'white'" [tintColor]="tintColor" [unselectedTintColor]="unselectedTintColor" [ngStyle]="tabbarStyle"
  [activeTab]="0" [hidden]="hidden" [tabBarPosition]="topFlag ? 'top' : 'bottom'">
  <TabPane class="tab-pane" [title]='custom1'>
    <ng-template #custom1>
      <TabBarTab [title]="'首页'" [key]="1" [badge]="1" [icon]="icon1" (onPress)="onPress('home')" [selectedIcon]="icon11">
        <ng-template #icon1>
          <div class="home-icon">
            &nbsp;
          </div>
        </ng-template>
        <ng-template #icon11>
          <div class="home-icon-select">
          </div>
        </ng-template>
      </TabBarTab>
    </ng-template>
    <div class="tab-container">
      <ng-container>
        <app-home></app-home>
      </ng-container>
    </div>
  </TabPane>
  <TabPane class="tab-pane" [title]='custom2'>
    <ng-template #custom2>
      <TabBarTab [title]="'关于'" [key]="2" [badge]="'new'" [icon]="icon2" (onPress)="onPress('about')" [selectedIcon]="icon22">
        <ng-template #icon2>
          <div class="about-icon">
          </div>
        </ng-template>
        <ng-template #icon22>
          <div class="about-icon-select">
          </div>
        </ng-template>
      </TabBarTab>
    </ng-template>
    <div class="tab-container">
      <ng-container>
        <app-about></app-about>
      </ng-container>
    </div>
  </TabPane>
  <TabPane class="tab-pane" [title]='custom4'>
    <ng-template #custom4>
      <TabBarTab [title]="'我的'" [key]="4" [icon]="icon4" (onPress)="onPress('mytv')" [selectedIcon]="icon44">
        <ng-template #icon4>
          <div class="mytv-icon">
          </div>
        </ng-template>
        <ng-template #icon44>
          <div class="mytv-icon-select">
          </div>
        </ng-template>
      </TabBarTab>
    </ng-template>
    <div class="tab-container">
      <ng-container>
        <app-mytv></app-mytv>
      </ng-container>
    </div>
  </TabPane>
</TabBar> -->

<ion-tabs>
  <ion-tab tab="home">
    <app-home></app-home>
  </ion-tab>
  <ion-tab tab="live">
    <app-live></app-live>
  </ion-tab>
  <ion-tab tab="vod">
      <app-vod></app-vod>
    </ion-tab>
  <ion-tab tab="mytv">
    <app-mytv></app-mytv>
  </ion-tab>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>首页</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="live">
      <ion-icon name="videocam"></ion-icon>
      <ion-label>直播</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="vod">
      <ion-icon name="logo-youtube"></ion-icon>
      <ion-label>点播</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="mytv">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>我的</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>