<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      首页
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  The world is your oyster.
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs">docs</a> will be
    your guide.</p>
  <a (click)="onClick('/tabs/home/hello')">我的电视</a>
  <ion-router-outlet></ion-router-outlet>
</ion-content> -->
The world is your oyster.
<p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs">docs</a> will be
  your guide.</p>
<a (click)="onClick('/tabs/home/hello')">我的电视</a>
<ion-router-outlet></ion-router-outlet>